# Repo-specific
yolov5/yolov5
.env
*outputs
sr_interactive_tmp
sr_interactive_tmp_output
gradio_cached_examples

# Python
__pycache__
.ipynb_checkpoints

# Pytorch
*.pth

# C/C++
*.c
*.o

# Vim-related
*.swp
*.swo

# Misc.
*.so
*.egg-info
